.photoswipe-gallery {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) ) ;    
    grid-auto-rows: 175px;
    grid-auto-flow: dense;
    margin: 0 auto;
}

.photoswipe-image {
    width: 100%;
    background-size: cover;
    background-position: 50% 0%;
}

.photoswipe-image:hover {
    cursor: pointer;
}

@media (max-width: 375px) {
    .photoswipe-gallery {
        grid-template-columns: 1fr 1fr 1fr;   
        grid-auto-rows: 175px; 
    }

    .photoswipe-image {
        grid-column-end: span 1 !important;
        grid-row-end: span 1 !important;
    }
}

/* .photoswipe-image:nth-of-type(even) {
    background-color: #333;
}

.photoswipe-image:nth-of-type(odd) {
    background-color: #777;
}

.photoswipe-image img {
    width: 100%;
    height: auto;

    opacity: 0;
} */

.cell {
    transition: all 0.5s ease-in-out;
}

/* .cell-move {
    transition: transform 0.5s ease;
} */

.cell-enter {
    opacity: 0;
}

.cell-enter-to {
    opacity: 1;
}

.cell-leave {
    opacity: 1;
}

.cell-leave-to {
    opacity: 0;
}

.cell-leave-active {
    opacity: 0;
    position: absolute;
    max-width: 200px;
}