.photoswipe-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photoswipe-image {
    flex: 0 1 300px;
}

.photoswipe-image:nth-of-type(even) {
    background-color: #333;
}

.photoswipe-image:nth-of-type(odd) {
    background-color: #777;
}

.photoswipe-image img {
    width: 100%;
    height: auto;

    opacity: 0;
}